<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Teste de automação em TDD com TestNG">
	<test name="CadastroSucesso">
		<classes>
			<class name="br.com.rsinet.hub_tdd.testes.sucessos.CadastroSucesso" />
		</classes>
	</test>
	
	<test name="CadastroErrado">
		<classes>
			<class name="br.com.rsinet.hub_tdd.testes.falhas.CadastroErrado" />
		</classes>
	</test>
	
	<test name="ConsultaPorBarraDePesquisaSucesso">
		<classes>
		<class name="br.com.rsinet.hub_tdd.testes.sucessos.ConsultaPorBarraDePesquisaSucesso" />
		</classes>
	</test>
	
	<test name="ConsultaPorBarraDePesquisaErrado">
		<classes>
		<class name="br.com.rsinet.hub_tdd.testes.falhas.ConsultaPorBarraDePesquisaErrado" />
		</classes>
	</test>
	
	<test name="ConsultaPorCategoriaSucesso">
		<classes>
			<class name="br.com.rsinet.hub_tdd.testes.sucessos.ConsultaPorCategoriaSucesso" />
		</classes>
	</test>
	
	<test name="ConsultaPorCategoriaErrado">
		<classes>
			<class name="br.com.rsinet.hub_tdd.testes.falhas.ConsultaPorCategoriaErrado" />
		</classes>
	</test>
</suite>